# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [81]:
number = 6
print(number)

6

##### Assinging float

In [80]:
num_float = 2.3
print(num_float)

2.3

#### Performing Calculations on ints and floats

##### Addition

In [82]:
num1 = 2
num2 = 5.4
result = num1 + num2
print(result)

7.4

##### Subtraction

In [85]:
# num1 = 2
# num2 = 5.4

result_diff = num2 - num1

print(result_diff)

3.4000000000000004

##### Multiplication

In [86]:
result_mul = num1 * num2

print(result_mul)

10.8

##### Division

In [87]:
num3 = 10
num4 = 2

result_div = num3/num4
print(result_div)

5.0

##### Floor Division

In [88]:
result_floor = num2 // num1
print(result_floor)

2.0

##### Modulo

In [89]:
result_mod = num2 % num1
print(result_mod)

1.4000000000000004

##### Exponential

In [90]:
square = 5 ** 2
print(square)

25

### String Input-Output

##### String Assignment

In [91]:
name = "Joel"
print(name)

Joel

##### print() <br>
<p>Don't forget about end=' '</p>

In [93]:
print("This is my first name", name)

print("Full name: ", name, end=" Carter")

This is my first name Joel
Full name:  Joel Carter

##### String Concatenation

In [94]:
first_name = "John"
last_name = "Smith"
full_name = first_name + " " + last_name
print(full_name)

John Smith

##### Type Conversion

In [97]:
number = "32"

change_type_num = int(number)
print(number)
print(change_type_num)
print(type(number))
print(type(change_type_num))

32
32
<class 'str'>
<class 'int'>

##### input()

In [99]:
name = input("what is your name ")
color = input("what is your favorite color ")

print("name = " + name + " " + "color = " + color)

what is your name Saad
what is your favorite color black
name = Saad color = black

##### format()

In [4]:
name = input("What is your name? ")
age = input("What is your age ")

result_string = "You are {} {} and your getting wiser".format(age, name)
print(result_string)

What is your name? Saad
What is your age 23
You are 23 Saad and your getting wiser

##### Old Way (python 2)

In [100]:
result_string2 = "You are %s and you look great for your age!" %age
print(result_string2)

You are 23 and you look great for your age!

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [7]:
color = input("what is your favorite color ")
year = input("What year were you born in ")
make = input("What do you like to make")
model = input("What model of Tesla do you like ")

print("My favorite color is {}, I was born in {}, I like to make {}, I like the model {} Tesla".format(color, year, make, model))

what is your favorite color black
What year were you born in 1999
What do you like to makebrownies
What model of Tesla do you like S
My favorite color is black, I was born in 1999, I like to make brownies, I like the model S Tesla

### If Statements

In [101]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)

# Truth Tree:
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F

num1 = 5
num2 = 10

if num2 == num1:
    print("Equal Values")
else:
    print("Not Equal")

Not Equal

##### 'is' keyword

In [9]:
#Checking for same/similar object, not the same value 

num3 = 55;

num4 = num3

if num4 is num3:
    print("This is the exact number")

This is the exact number

##### 'in' keyword

In [10]:
char_name = "Max Payne"

if "Max" in char_name:
    print("The character who lost")

The character who lost

##### 'not in' keyword'

In [11]:
sega_char = "Sonic"
if 'a' not in sega_char:
    print("Gotta go faster")

Gotta go faster

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [21]:
sport = input("What is your favorite sport")
if 'p' in sport:
    print("Your favorite sport sport has the letter p in it")
else:
    print("The letter p is not in your favorite sport")

What is your favorite sportfootball
The letter p is not in your favorite sport

## Using 'and'/'or' with If Statements

In [24]:
num1 = 15
num2 = 3
num3 = 10
num4 = 3

if num1 / 5 == num2 and num3 - 7 == num4:
    print("True and True")
if num1 > num2 or num3 == num4:
    print("True and False")

True and True
True and False

### Elif Statements

In [25]:
first_name = "Max"

if first_name == "Smith":
    print("The name is Smith")
elif first_name != "Max":
    print("The name is Not Max")
else:
    print("The name is Max")

The name is Max

### Else Statements

In [26]:
num1 = 10

if num1 % 3 == 0:
    print("This number is divisible by 3")
elif num1 % 4 == 0:
    print("This number is divisible by 4")
elif num1 % 5 == 0:
    print("This number is divisible by 5")
else:
    print("Please try another number")

This number is divisible by 5

### For Loops

In [30]:
# for i in range(10):
#     print(i)

name = "Joel Carter"
# for letter in name:
#     print(letter)
for i in range(len(name)):
    print(name[i])

J
o
e
l

C
a
r
t
e
r

##### Using 'in' keyword

In [102]:
char_name = "Max Payne"

if "Max" in char_name:
    print("The character who lost everything...")

The character who lost everything...

##### Continue Statement

In [ ]:
# will continue to next iteration

In [31]:
for i in range(20):
    if i == 5:
        continue
    print(i)

0
1
2
3
4
6
7
8
9
10
11
12
13
14
15
16
17
18
19

##### Break Statement

In [ ]:
# will break out of current loop

In [32]:
for i in range(20):
    if i == 5:
        break
    print(i)

0
1
2
3
4

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

In [33]:
for i in name:
    pass #Todo: Comeback and figure out what to do

##### Double For Loops

In [34]:
for i in range(5):
    for j in range(5):
        print("i = ", i, "j = ", j)

i =  0 j =  0
i =  0 j =  1
i =  0 j =  2
i =  0 j =  3
i =  0 j =  4
i =  1 j =  0
i =  1 j =  1
i =  1 j =  2
i =  1 j =  3
i =  1 j =  4
i =  2 j =  0
i =  2 j =  1
i =  2 j =  2
i =  2 j =  3
i =  2 j =  4
i =  3 j =  0
i =  3 j =  1
i =  3 j =  2
i =  3 j =  3
i =  3 j =  4
i =  4 j =  0
i =  4 j =  1
i =  4 j =  2
i =  4 j =  3
i =  4 j =  4

### While Loops

In [37]:
num = 0
while num < 10:
    print(num)
    num +=1

0
1
2
3
4
5
6
7
8
9

##### Looping 'While True'

In [40]:
game_over = False

while True:
    print("Infinite Loop")
    if game_over == False:
        break

Infinite Loop

##### While & For Loops Used Together

In [43]:
num = 0

while num < 5:
    print("\n While Loop Iteration: " + str(num))
    
    for i in range(6):
        print("For Loop Iteration: " + str(i))
    num+=1

 While Loop Iteration: 0
For Loop Iteration: 0
For Loop Iteration: 1
For Loop Iteration: 2
For Loop Iteration: 3
For Loop Iteration: 4
For Loop Iteration: 5

 While Loop Iteration: 1
For Loop Iteration: 0
For Loop Iteration: 1
For Loop Iteration: 2
For Loop Iteration: 3
For Loop Iteration: 4
For Loop Iteration: 5

 While Loop Iteration: 2
For Loop Iteration: 0
For Loop Iteration: 1
For Loop Iteration: 2
For Loop Iteration: 3
For Loop Iteration: 4
For Loop Iteration: 5

 While Loop Iteration: 3
For Loop Iteration: 0
For Loop Iteration: 1
For Loop Iteration: 2
For Loop Iteration: 3
For Loop Iteration: 4
For Loop Iteration: 5

 While Loop Iteration: 4
For Loop Iteration: 0
For Loop Iteration: 1
For Loop Iteration: 2
For Loop Iteration: 3
For Loop Iteration: 4
For Loop Iteration: 5

### Built-In Functions

##### range()

In [44]:
for i in range(2,20,2):
    print(i)

2
4
6
8
10
12
14
16
18

##### len()

In [45]:
name = "Saad"
print(len(name))

4

##### help()

In [48]:
help(isinstance)

Help on built-in function isinstance in module builtins:

isinstance(obj, class_or_tuple, /)
    Return whether an object is an instance of a class or of a subclass thereof.

    A tuple, as in ``isinstance(x, (A, B, ...))``, may be given as the target to
    check against. This is equivalent to ``isinstance(x, A) or isinstance(x, B)
    or ...`` etc.

##### isinstance()

In [50]:
#check a variable to find out what Object family it belongs to
#(var,type)

print(isinstance(4.5, float))

True

##### abs()

In [53]:
print(abs(-5))

5

### Try and Except

In [56]:
#use whenever you expect to encounter a bug, so the error doesn't cause the program to stop

try:
    number_test = 0
    input_num = int(input("Guess a number!"))
    if input_num != number_test:
        input_num = input_num = number_test
        print("Your number is: " + str(input_num))
except:
    print("That didn't work")

Guess a number!10
Your number is: 0

### Lists

##### Declaring Lists

In [103]:
l = ["cindy", "Julie", "Monica"]
print(l)

['cindy', 'Julie', 'Monica']

##### Indexing a List

##### .append()

In [65]:
#add an item to the bacl of the list
name = ["Cind, Alex"]
name.append("Joel")
print(name)

['Cind, Alex', 'Joel']

##### .insert()

In [105]:
name = ["cindy", "Alex"]
print(name)

name.insert(0,"Monica")
print(name)

['cindy', 'Alex']
['Monica', 'cindy', 'Alex']

##### .pop()

In [62]:
bye_name = name.pop()
print(bye_name)

Joel


##### .remove()

In [68]:
#value to be removed
name = ["Cind", "Alex"]
name.remove('Alex')
print(name)

['Cind']

##### del()

In [71]:
#index to be removed, not vlaue
name = ["Cind", "Alex"]
del(name[1])
print(name)

['Cind']

##### Concatenating Two Lists

In [72]:
#will append two lists together, not add up the elements
number_1 = [1,2,3,4]
number_2 = [5,6,7,8] 
large_list = number_1 + number_2
print(large_list)

[1, 2, 3, 4, 5, 6, 7, 8]

##### Lists Within Lists

In [75]:
names = ["Max", "Sam", "Josh", ["Sally", "Sue", "Tameka"]]
print(names)
print(names[3][0])

['Max', 'Sam', 'Josh', ['Sally', 'Sue', 'Tameka']]
Sally

##### Looping Through Lists

In [79]:
#looping by index
for i in range(len(names)):
    print(names[i])
print("\n")
#looping by value
for name in names:
    print(name)

Max
Sam
Josh
['Sally', 'Sue', 'Tameka']


Max
Sam
Josh
['Sally', 'Sue', 'Tameka']

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [ ]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>